.floating-contact {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 180px;
  height: 180px;
  z-index: 9999;
  text-decoration: none;
}

.circle-text {
  width: 100%;
  height: 100%;
  animation: rotate 10s linear infinite;
}

.circle-text text {
  fill: #aaaaaa;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.contact-center {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-center img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

/* rotation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

