.blog-section {
  background: #000;
  padding: 120px 80px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  
  
}

.blog-section {
  position: relative;
}

/* BLOG TITLE – Cuberto style */
.blog-heading {
  font-size: 96px;
  font-weight: 700;
  color: #fff;
  margin-bottom: -40px;
  margin-top: 1px;
  z-index: 5;
  position: relative;
}


/* ONE BLOG ITEM */
.blog-row {
  display: flex;
  align-items: center;
  gap: 80px;
}

/* VIDEO */
.blog-video {
  width: 520px;
  height: 320px;
  border-radius: 54px;
  overflow: hidden;
  flex-shrink: 0;
}

.blog-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.blog-content {
  max-width: 520px;
  color: #fff;
  margin-top: 5vh;
}

.blog-tag {
  display: inline-block;
  border: 1px solid #666;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
  margin-bottom: 16px;
}

.blog-content h2 {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 14px;
}

.blog-date {
  color: #999;
  font-size: 14px;
}


@media (max-width: 1024px) {
  .blog-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .blog-video {
    width: 100%;
    height: 260px;
  }

  .blog-content h2 {
    font-size: 28px;
  }
}


.visit-blog-wrapper {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px;
}

/* BUTTON */
.visit-blog-btn {
  padding: 46px 100px;
  border-radius: 100px;

  border: 1.5px solid rgba(119, 89, 89, 0.4);
  color: #fff;

  font-size: 28px;
  font-weight: 500;
  text-decoration: none;

  background: transparent;
  transition: all 0.35s ease;
}

/* HOVER – Cuberto Feel */
.visit-blog-btn:hover {
  background: #fff;
  color: #000;
  transform: translateY(-2px);
}

/* 
.blog-btn-wrap {
  display: flex;
  justify-content: center;
  margin-top: 3000px;
}

.blog-btn {
  background: transparent;
  color: black;
  border: 1px solid #555;
  padding: 30px 60px;
  border-radius: 60px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}


.blog-btn:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
} */

.blog-video-el {
  transition: transform 1.2s ease;
}

.blog-video-el:hover {
  transform: scale(2.0);
}

.blog-row {
  text-decoration: none;
  color: inherit;
  display: flex;
}

