.explore-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;

  width: 96px;
  height: 96px;
  border-radius: 50%;

  background: #ffffff;
  color: #000;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;

  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.25s ease;

  z-index: 9999;
}

.explore-cursor.active {
  transform: translate(-50%, -50%) scale(1);
}

/* Jis card par cursor chahiye */
.cursor-target {
  cursor: none;
}




.explore-cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 90px;
  height: 90px;
  border-radius: 50%;

  background: #fff ;
  color: rgb(0, 0, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.4px;
  text-transform: uppercase;

  pointer-events: none;
  z-index: 9999;

  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.25s ease;
}

.explore-cursor.active {
  transform: translate(-50%, -50%) scale(1);
}

.explore-cursor span {
  user-select: none;
}
