.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
}

.hero p {
  margin-top: 30px;
  font-size: 18px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
