.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h1 {
  font-size: 120px;
  font-weight: 700;
  line-height: 1.1;
}

.hero p {
  margin-top: -38px;
  font-size: 28px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: #333;
}
